<html>

<head>
	<title>Sign Up</title>
	
</head>

<body>
 
<form id = "contactForm" method = "POST" action = "/register">

<label for = "Name">Name</label>
<input type = "text" name = "Name">
<label for = "Email">Email</label>
<input type = "text" name = "Email">
<label for = "Password">Password</label>
<input type = "text" name = "Password" />
<input type = "submit" value = "submit" />

</form>

</body>

</html>